/*
Killian Gardahaut   1902104 
*/

.td-button {
    font-weight: 600;
    font-family: "Poppins";
    font-size: 14px;
    min-width: 139px;
    --background: #0A9B3E;
    --box-shadow: none;
    text-transform: none;
}

.td-button-return {
    @extend .td-button;
    --background: transparent;
    min-width: 30px;
    &>ion-icon {
        color: #0A9B3E;
        width: 30px;
        height: 30px;
    }
}
