/*
Killian Gardahaut   1902104 
*/

.logo {
    margin-top: 88px;
    margin-bottom: 88px;
    width: 175px;
    height: 70px;
  }
  
  .divided {
    height: 14px;
    width: 113px;
    margin-top: 9px;
    margin-bottom: 9px;
  }
  
  .space-input {
    margin-top: 13px;
  }

  #confirm {
      margin-top: 45px;
  }
  
